@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', open-sans;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}
